.gameHeader {
  padding: 12px 21px;
  border-bottom: 3px black solid;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 40%;
  grid-row-gap: 8px;
  grid-template-areas: 
    "title level"
    "title progress";
}

.gameHeaderTitle {
  font-size: 1.4em;
  text-align: left;
  grid-area: title;
}

.gameHeaderLevel {
  font-size: 1em;
  text-align: right;
  color: grey;
  grid-area: level;
}

.gameProgressContainer {
  grid-area: progress;
  height: 20px;
  text-align: right;
  font-size: 15px;
}

.gameProgressBar {
  margin-right: 4px;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  height: 100%;
  width: clamp(66px, 70%, 136px);
}

.gameProgressCurrent {
  background-color: lightskyblue;
  height: 100%;
}

.gameProgressCurrentText {
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 0 5px;
}