.gameHeader {
  font-size: 2em;
  padding: 12px 42px;
  border-bottom: 3px black solid;
  display: grid;
  grid-template-columns: 70% 30%;
}

.gameHeaderTitle {
  text-align: left;
}

.gameHeaderPoints {
  text-align: right;
  color: grey;
}