.questList {
  display: grid;
  grid-auto-flow: row;
  height: 100%;
  margin: 0 4px 24px 4px;
}

.questFilter {
  text-align: right;
  font-size: 0.8em;
}

.questBox {
  border: 1px solid black;
  border-radius: 3px;
  margin: 8px 8px;
  padding: 6px 6px;
}

.questBox:hover {
  border-width: 2px;
  border-color: black;
  padding: 5px 5px;
}

.questBox.open {
  cursor: pointer;
}

.questBox.closed {
  background-color: lightgreen;
  cursor: pointer;
}

.questBox.hidden {
  background-color: lightgray;
}

.questBox.disabled {
  border-color: rgb(206, 3, 64);
}

.questHeader {
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 2px 4px 18px 4px;
}

.questTitle {
  text-align: left;
  font-size: 1.2em;
}

.questPoints {
  color: grey;
}

.questDescription {
  color: grey;
  text-align: left;
  overflow: hidden;
}
