.questDetails {
  margin: 0 0 12px 0;
}

.backArrowContainer {
  padding: 0px 4px 6px 4px;
  margin-bottom: 12px;
  text-align: left;
  box-shadow: 1px 1px 1px black;
  display: grid;
  grid-template-columns: 40px 1fr;
}

.backArrow {
  width: 2em;
  height: 100%;
  cursor: pointer;
}

.label {
  text-align: left;
  margin: 6px 4px;
}

.value {
  background-color: rgb(245, 245, 245);
  margin: 4px 8px 8px 8px;
  border: 1px rgb(235, 234, 234) solid;
  padding: 4px 8px;
  text-align: left;
}

.value > textarea {
  width: 100%;
}

.value > input {
  width: 100%;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h4 {
  padding-left: 12px;
  margin-bottom: 6px;
  text-align: left;
}

.versionList {
  padding-left: 12px;
  text-align: left;
}
