$main-color: black;
$secondary-color: #3D3D3D;
$danger-color: rgb(206, 3, 64);
$hidden-background-color: lightgray;

.questList {
  display: grid;
  grid-auto-flow: row;
  height: 100%;

  .questFilter {
    text-align: right;
    font-size: 0.8em;
  }
  
  .questBox {
    border: 1px solid black;
    border-radius: 3px;
    margin: 8px 0;
    padding: 6px 6px;
  
    &:hover {
      border-width: 2px;
      padding: 5px 5px;
    }
  
    &.open {
      cursor: pointer;
    }
  
    &.closed {
      background-color: lightgreen;
      cursor: pointer;
    }
  
    &.hidden {
      background-color: $hidden-background-color;
    }
  
    &.disabled {
      border-color: $danger-color;
    }
  
    &.archived {
      border-color: $danger-color;
      background-color: $danger-color;
    }
  
    .questHeader {
      display: grid;
      grid-template-columns: 75% 25%;
      padding: 2px 4px 18px 4px;
    
      .questTitle {
        font-size: 1.2em;
      }
    }
  
    .questPoints {
      color: $secondary-color;
    }
  
    .questDescription {
      color: $secondary-color;
      overflow: hidden;
    }
  }
}
 
.createQuestContainer {
  margin-top: 8px;

  button {
    width: 100%;
    height: 4em;
    margin-bottom: 10px;
    background-color: $hidden-background-color;
    color: $secondary-color;
    // font-weight: bold;
    font-size: 1.5em;
    border: 1px dashed black;
    border-radius: 3px;
    box-shadow: none;
  }
}
