


.questDetails {
  margin: 0 0 12px 0;

  .backArrowContainer {
    padding: 0px 4px 6px 4px;
    margin-bottom: 12px;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 40px 1fr;
  }

  .backArrow {
    width: 2em;
    height: 100%;
    cursor: pointer;
  }

  .label {
    margin: 6px 4px;
  }

  .value {
    background-color: rgb(245, 245, 245);
    margin: 4px 8px 8px 8px;
    border: 1px rgb(235, 234, 234) solid;
    padding: 4px 8px;

    textarea {
      width: 100%;
    }

    input {
      width: 100%;
    }
  }

  .buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h4 {
    padding-left: 12px;
    margin-bottom: 6px;
  }

  .versionList {
    padding-left: 12px;
  }
}
